### Importación de datos

In [3]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv"

tienda = pd.read_csv(url)
tienda2 = pd.read_csv(url2)
tienda3 = pd.read_csv(url3)
tienda4 = pd.read_csv(url4)

tienda.head()

,Producto,Categoría del Producto,Precio,Costo de envío,Fecha de Compra,Vendedor,Lugar de Compra,Calificación,Método de pago,Cantidad de cuotas,lat,lon
0,Asistente virtual,Electrónicos,164300.0,6900.0,16/01/2021,Pedro Gomez,Bogotá,4,Tarjeta de crédito,8,4.60971,-74.08175
1,Mesa de comedor,Muebles,192300.0,8400.0,18/05/2022,Beatriz Morales,Medellín,1,Tarjeta de crédito,4,6.25184,-75.56359
2,Juego de mesa,Juguetes,209600.0,15900.0,15/03/2021,Juan Fernandez,Cartagena,1,Tarjeta de crédito,1,10.39972,-75.51444
3,Microondas,Electrodomésticos,757500.0,41000.0,03/05/2022,Juan Fernandez,Cali,4,Nequi,1,3.43722,-76.52250
4,Silla de oficina,Muebles,335200.0,20200.0,07/11/2020,Maria Alfonso,Medellín,5,Nequi,1,6.25184,-75.56359

#1. Análisis de facturación

In [7]:
from matplotlib import pyplot as plt

Precio1 = tienda['Precio']
Precio2 = tienda2['Precio']
Precio3 = tienda3['Precio']
Precio4 = tienda4['Precio']

CostoEnvio1 = tienda['Costo de envío']
CostoEnvio2 = tienda2['Costo de envío']
CostoEnvio3 = tienda3['Costo de envío']
CostoEnvio4 = tienda4['Costo de envío']

TotalFacturado1 = sum(Precio1.values + CostoEnvio1.values)
TotalFacturado2 = sum(Precio2.values + CostoEnvio2.values)
TotalFacturado3 = sum(Precio3.values + CostoEnvio3.values)
TotalFacturado4 = sum(Precio4.values + CostoEnvio4.values)
TotalFacturado = TotalFacturado1 + TotalFacturado2 + TotalFacturado3 + TotalFacturado4

In [8]:
print(f"La tienda 1 facturo: {TotalFacturado1}")
print(f"La tienda 2 facturo: {TotalFacturado2}")
print(f"La tienda 3 facturo: {TotalFacturado3}")
print(f"La tienda 4 facturo: {TotalFacturado4}")
print(f"El total facturado de las 4 tiendas es de: {TotalFacturado}")

La tienda 1 facturo: 1212258300.0
La tienda 2 facturo: 1175828600.0
La tienda 3 facturo: 1156536200.0
La tienda 4 facturo: 1093693100.0
El total facturado de las 4 tiendas es de: 4638316200.0

# 2. Ventas por categoría

In [38]:
import pandas as pd

df_total = pd.concat([tienda, tienda2, tienda3, tienda4], ignore_index=True)

conteo_por_categoria = df_total.groupby('Categoría del Producto').size()

conteo_por_categoria_df = conteo_por_categoria.reset_index(name='Cantidad')

In [10]:
print(conteo_por_categoria_df)

    Categoría del Producto  Cantidad
0  Artículos para el hogar       730
1     Deportes y diversión      1113
2        Electrodomésticos      1149
3             Electrónicos      1772
4   Instrumentos musicales       753
5                 Juguetes      1290
6                   Libros       742
7                  Muebles      1886

# 3. Calificación promedio de la tienda

In [18]:
promedioCal = round(sum(tienda['Calificación'].values) / len(tienda['Calificación']),2)
promedioCal2 = round(sum(tienda2['Calificación'].values) / len(tienda2['Calificación']),2)
promedioCal3 = round(sum(tienda3['Calificación'].values) / len(tienda3['Calificación']),2)
promedioCal4 = round(sum(tienda4['Calificación'].values) / len(tienda4['Calificación']),2)

promedioCalTotal = round((promedioCal + promedioCal2 + promedioCal3 + promedioCal4) / 4,2)

In [19]:
print(f"La calificación promedio de la tienda 1 es de: {promedioCal}")
print(f"La calificación promedio de la tienda 2 es de: {promedioCal2}")
print(f"La calificación promedio de la tienda 3 es de: {promedioCal3}")
print(f"La calificación promedio de la tienda 4 es de: {promedioCal4}")
print(f"La calificación promedio de las 4 tiendas es de: {promedioCalTotal}")

La calificación promedio de la tienda 1 es de: 3.98
La calificación promedio de la tienda 2 es de: 4.04
La calificación promedio de la tienda 3 es de: 4.05
La calificación promedio de la tienda 4 es de: 4.0
La calificación promedio de las 4 tiendas es de: 4.02

# 4. Productos más y menos vendidos

In [43]:
ventas_por_producto = df_total.groupby('Producto').size()

ventas_ordenadas = ventas_por_producto.sort_values(ascending=False)

producto_mas_vendido = ventas_ordenadas.idxmax()
cantidad_mas_vendida = ventas_ordenadas.max()
producto_menos_vendido = ventas_ordenadas.idxmin()
cantidad_menos_vendida = ventas_ordenadas.min()

In [45]:
print(f"El producto mas vendido es:  {producto_mas_vendido} - {cantidad_mas_vendida} ventas")

print(f"El producto menos vendido es:  {producto_menos_vendido} - {cantidad_menos_vendida} ventas")

El producto mas vendido es:  Mesa de noche - 210 ventas
El producto menos vendido es:  Celular ABXY - 157 ventas

# 5. Envío promedio por tienda

In [35]:
Envios1 = tienda['Costo de envío']
Envios2 = tienda2['Costo de envío']
Envios3 = tienda3['Costo de envío']
Envios4 = tienda4['Costo de envío']

EnvioPromedio1 = round(sum(Envios1.values) / len(Envios1),2)
EnvioPromedio2 = round(sum(Envios2.values) / len(Envios2),2)
EnvioPromedio3 = round(sum(Envios3.values) / len(Envios3),2)
EnvioPromedio4 = round(sum(Envios4.values) / len(Envios4),2)



EnvioCont1 = tienda['Costo de envío'].size
EnvioCont2 = tienda2['Costo de envío'].size
EnvioCont3 = tienda3['Costo de envío'].size
EnvioCont4 = tienda4['Costo de envío'].size

In [36]:
print(f"La primer tienda envio: {EnvioCont1}, acumulando un promedio de: ${EnvioPromedio1} por envio")
print(f"La segunda tienda envio: {EnvioCont2}, acumulando un promedio de: ${EnvioPromedio2} por envio")
print(f"La tercer tienda envio: {EnvioCont3}, acumulando un promedio de: ${EnvioPromedio3} por envio")
print(f"La cuarta tienda envio: {EnvioCont4}, acumulando un promedio de: ${EnvioPromedio4} por envio")
print(f"El total de envios de las 4 tiendas es de: {EnvioCont1 + EnvioCont2 + EnvioCont3 + EnvioCont4} acumulando un promedio de: ${EnvioPromedio1 + EnvioPromedio2 + EnvioPromedio3 + EnvioPromedio4}")

La primer tienda envio: 2359, acumulando un promedio de: $26018.61 por envio
La segunda tienda envio: 2359, acumulando un promedio de: $25216.24 por envio
La tercer tienda envio: 2359, acumulando un promedio de: $24805.68 por envio
La cuarta tienda envio: 2358, acumulando un promedio de: $23459.46 por envio
El total de envios de las 4 tiendas es de: 9435 acumulando un promedio de: $99499.98999999999